{% extends "base.html" %}
{% load static %}
{% block metadescription %}

    {{ product.description|truncatewords:155 }}

{% endblock %}

{% block title %}
    {% if category %}
        {{ product.name }} - ABC store
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row my_prod_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}">Home</a> | <a href="{{product.category.get_url}}">{{product.category}}</a> | {{product.name}} </p>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p>
                {% if product.stock > 0 %}
                    <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
                {% else %}
                    <p>Out of stock</p>
                {% endif %}
                
            </div>
        </div>
    </div>

{% endblock %}

